<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <link rel="icon" type="image/x-icon" href="../static/cat.ico">
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<title>测试页面</title>
</head>
<body>
	<button value="" id="button" onclick="check()">测试</button>
	<script type="text/javascript">
	$(document).ready(function () {
		$("#button").click(function () {
			alert("按钮被点击了")
		})
	}) 
	function check(){
		$.ajax({
			url : "first.do",// 请求的action地址
			type : "POST",// 请求方式
			dataType : "json",// 设置返回数据类型
			success : function(data) {
				alert(data.password)
				
			},// 响应完成后执行的回调方法
			error : function(XMLHttpRequest, statusText) {
				alert("失败!")
				
			}// 响应失败后执行的回调方法
		})
	}

/* function onbult(){
	$.ajax({
		url:,
		type:,
		dataType:,
		success:function(data){

			},
		error:function(XMLHttpRequest, statusText){

			}
		})
} */
	
	</script>
	
</body>
</html>